@import "./utilities/mixins";
@import "./utilities/variables";
@import "./base/reset";
@import "./base/typo";
@import "./layout/body";
@import "./layout/footer";
@import "./layout/header";
@import "./layout/main-index";
@import "./layout/main-quienessomos";
@import "./layout/main-instruc";
@import "./layout/index";
@import "./layout/titulo";
@import "./layout/main-tarifas";
@import "./components/bootstrap";
@import "./components/datos";
@import "./utilities/media991";
@import "./utilities/media768px";
@import "./utilities/media600px";
@import "./utilities/media425px";



