@media (max-width:1024px) {
    .parrafo2 {
        margin-left: 0px;
        width: 800px;
    }
    .sectionclass {
        display: flex;
        flex-wrap: nowrap
    }
    .sectionquiensomos {
        margin: 100px;
    }
}