@media (max-width:768px){
    .sectionclass{
        grid-template-columns: 400px;
        grid-template-rows: 2;
        justify-items: center;
        .parrafo1 {
            grid-column: 400px;
            grid-row: 1;
            width: 400px;
        }
        .parrafo2 {
            grid-column: 400px;
            grid-row: 2;
            width: 400px;
        }
    }
    .titulo {
        justify-content: center;
        img {
            width: 18.75rem;
        }
    }
    .sectionquiensomos {
        margin-top: .625rem;
        width: 80%;
        margin-left: 3.75rem;
        margin-bottom: .625rem;
    }
    .h2-instruc {
        margin-left: 0px;
        margin-right: 0px;
    }
    .video iframe {
        width: 100%;
        height: 15.625rem;
        margin: .625rem;
    }
}