header {
    background-color: $colornegroopacido; 
    .titulo {
        display: flex;
        justify-content: center; 
        img {
            margin: 20px; }
            }
}
.navbar-collapse {
        display: flex;
        justify-content: center;
        font-family: titulos; 
        a {
            color: $colorblancopuro;
        }
    }
.boton {
    background: $colorblancopuro;  
}    
.navbar-toggler {
    background: $colorblancopuro;
}


