.parrafo1 {
    font-size: .9375rem;
    background-color: $colornegroopacido;
    width: 21.875rem;
    height: 21.875rem;
    display: flex;
    @include flex ;
    padding: 8px;
    /*parrafo de index*/ 
    p {
        color: $colorblancopuro;
        font-family: cuerpo; }
}
.parrafo2 {
    @extend .parrafo1;
    /*parrafo de index*/ 
    p {
        color: $colorblancopuro;
        font-family: cuerpo; }
}
.sectionclass {
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
    .parrafo1 {
        grid-column: 1;
        margin: 10px; 
    }
    .parrafo2 {
        grid-column: 2;
        margin: 10px;
    }
}
.caruseldiv {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    margin: 10px;
}